<!DOCTYPE html>
<html>
<head>
  <title>{% block head_title %}{% endblock %} Workout Tracker</title>
  {% block extra_head %}{% endblock %}

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>

<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{% block head %}
{% endblock head %}


</head>
<body>
{% block body %}

  {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div>
    <strong>Menu:</strong>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'new_workout' %}">New Workout</a></li>
        <li><a href="{% url 'exercise' %}">Exercises</a></li>
        <HR>
        <li><a href="{% url 'account_settings' %}">Account Settings</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        <HR>
      {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        <li><a href="{% url 'account_reset_password' %}">Reset Password</a></li>
      {% endif %}
    </ul>
  </div>
  {% block content %}{% endblock %}
{% endblock %}
{% block extra_body %}
{% endblock %}
</body>
</html>
