{% extends 'base.html' %}


{% block content %}
    <form method="POST">
    {{ form.as_p }}
      <br>

      <h4>Save and</h4>
    <input type="submit" name="add_another" value="Add another Interval"/>
      <br><br>
    <input type="submit" name="add_scheme" value="Add Cardio Scheme"/>
      <br><br>
    <input type="submit" name="add_resistance" value="Add Resistance Scheme"/>
      <br><br>
    <input type="submit" value="Review Workout"/>
      <br><br>
    {% csrf_token %}
  </form>

{% endblock %}