{% extends 'base.html' %}

{% block content %}

    <form method="POST">
    {{ form_set.management_form }}
    {% for form in form_set %}
      {{ form.as_p }}
      <br>
    {% endfor %}

      {% if all_same %}
        <input type="hidden" name="all_same" value="True"/>
        <input type="hidden" name="num_sets" value="{{ num_sets }}"/>
      {% endif %}

    <input type="submit" value="Save and add Scheme"/>
      <br><br>
    <input type="submit" name="add_another" value="Save and Add Another"/>
      <br><br>
    <input type="submit" name="save_review" value="Save and Review Workout"/>
    {% csrf_token %}
  </form>

{% endblock %}