{% extends 'base.html' %}

{% block content %}

  <h1>Your workout on {{ workout.date }}</h1>

  <ul>
    {% for resistance_scheme in workout.resistance_scheme.all %}
      <li>
        {{ resistance_scheme.exercise.title }}
        <ul>
          {% for resistance_set in resistance_scheme.resistance_set.all %}
            <li>{{ resistance_set.reps }} Reps, {{ resistance_set.load }}lbs, {{ resistance_set.work }} work</li>
          {% endfor %}
        </ul>
        {% if resistance_scheme.notes %}
          <p>{{ resistance_scheme.notes }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <br><br><br>
  <a href="{% url 'new_resistance_scheme' workout.id %}">Add Workout Scheme</a>

{% endblock %}