{% extends 'base.html' %}

{% block content %}

  <h1>Your workout on {{ workout.date }}</h1>


  {% if workout.resistance_scheme.count %}<h2>Resistance</h2>{% endif %}
  <ul>
    {% for resistance_scheme in workout.resistance_scheme.all %}
      <li>
        {{ resistance_scheme.exercise.title }}
        <ul>
          {% for resistance_set in resistance_scheme.resistance_set.all %}
            <li>{{ resistance_set.reps }} Reps, {{ resistance_set.load }}lbs, {{ resistance_set.work }} work</li>
          {% endfor %}
        </ul>
        {% if resistance_scheme.notes %}
          <p>{{ resistance_scheme.notes }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>


  <h2>Cardio</h2>
  <ul>
    {% for cardio_scheme in workout.cardio_scheme.all %}
      <li>
        You did {{ cardio_scheme.exercise.title }}
        <ul>
          {# Interval #}
          {% for interval in cardio_scheme.interval_set.all %}
            <li>for {{ interval.action_time_seconds }} seconds with {{ interval.rest_time_seconds }} of seconds rest</li>
          {% endfor %}

          {# Distance #}
          {% for distance in cardio_scheme.distance_set.all %}
            <li>for {{ distance.distance }} {{ distance.measurement }} in {{ distance.time_seconds }} seconds</li>
          {% endfor %}

          {# Repetition #}
          {% for repetition in cardio_scheme.repetition_set.all %}
            <li>for {{ repetition.quantity }} times in {{ repetition.time_seconds }} of seconds</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>


  <br><br><br>
  <a href="{% url 'new_resistance_scheme' workout.id %}">Add Resistance Scheme</a>

{% endblock %}